[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["cd client && npm install && npm run build"]

[start]
cmd = "cd client && npx serve -s build -l 3000"